Repository lottie-react-native/lottie-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(example): raise resource bundle deployment targets to the 0.84 floor
  example/ios/Podfile
Due: none

fix(example): add nkf so CocoaPods loads on Ruby 3.4
  example/Gemfile
  example/Gemfile.lock
Due: none

ci: remove the Paper build jobs and scripts
  .github/workflows/android-paper-build.yml
  .github/workflows/ios-paper-build.yml
  example/package.json
  package.json
Due: none

docs: correct stale Paper references
  .github/ISSUE_TEMPLATE/bug_report.yml
  CONTRIBUTING.md
Due: none

feat: require React Native 0.84, upgrade react-native-test-app to 5.4.7 and fix iOS ci (#1453)
  .github/workflows/android-fabric-build.yml
  .github/workflows/android-paper-build.yml
  .github/workflows/ios-fabric-build.yml
  .github/workflows/ios-paper-build.yml
  .github/workflows/lint-test.yml
  .gitignore
  example/.gitignore
  example/Gemfile
  example/Gemfile.lock
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/Podfile
  example/package.json
  example/tsconfig.json
  package.json
  packages/core/lottie-react-native.podspec
  packages/core/package.json
  yarn.lock
Due: none

ci: remove the Paper build jobs and scripts (#1454)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/android-paper-build.yml
  .github/workflows/ios-paper-build.yml
  CONTRIBUTING.md
  example/package.json
  package.json
Due: none

docs: fix dead links to the Metro and React Native docs
  README.md
Due: none

docs: fix dead links to the Metro and React Native docs (#1462)
  README.md
Due: none

fix(android): skip explicit kotlin-android plugin when AGP 9 built-in Kotlin is enabled
  packages/core/android/build.gradle
Due: none

fix(android): apply the built-in Kotlin guard to the nitro package too
  packages/core/android/build.gradle
  packages/nitro/android/build.gradle
Due: none

fix(android): skip explicit kotlin-android plugin when AGP 9 built-in Kotlin is enabled (#1463)
  packages/core/android/build.gradle
  packages/nitro/android/build.gradle
Due: none

build(nitro): add lottie deps and make the example apps match
  example-v8/App.tsx
  example-v8/animations/DynamicText.json
  example-v8/animations/LottieLogo1.json
  example-v8/animations/Watermelon.json
  example-v8/animations/animation_lkekfrcl.lottie
  example-v8/ios/Podfile
  packages/nitro/LottieNitro.podspec
  packages/nitro/android/build.gradle
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/ios/HybridLottieView.swift
Due: lint

feat(nitro): implement native prop handling on both platforms
  packages/nitro/TODO.md
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/LottieColorParser.kt
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/ios/LottieColorParser.swift
Due: none

docs(nitro): record the colour parsers as deliberately untested
  packages/nitro/TODO.md
Due: none

switch to processColor from RN like V7
  packages/nitro/TODO.md
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/LottieColorParser.kt
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/ios/LottieColorParser.swift
  packages/nitro/nitrogen/generated/android/c++/JLottieColorFilter.hpp
  packages/nitro/nitrogen/generated/android/kotlin/com/margelo/nitro/lottienitro/LottieColorFilter.kt
  packages/nitro/nitrogen/generated/ios/swift/LottieColorFilter.swift
  packages/nitro/nitrogen/generated/shared/c++/LottieColorFilter.hpp
  packages/nitro/src/LottieView.nitro.ts
  packages/nitro/src/LottieView/index.tsx
Due: lint, types

docs(nitro): move all v8 rationale into a single architecture document
  AGENTS.md
  CLAUDE.md
  example-v8/App.tsx
  packages/nitro/ARCHITECTURE.md
  packages/nitro/TODO.md
  packages/nitro/android/src/main/cpp/cpp-adapter.cpp
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/LottieNitroPackage.kt
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/src/LottieView.nitro.ts
  packages/nitro/src/LottieView/index.tsx
  packages/nitro/src/LottieView/utils.ts
  packages/nitro/src/views/LottieView.ts
Due: lint, types

docs(nitro): move v8 build-config rationale into the architecture document
  AGENTS.md
  example-v8/.gitignore
  example-v8/Gemfile
  example-v8/android/gradle.properties
  example-v8/ios/Podfile
  example-v8/metro.config.js
  example-v8/tsconfig.json
  example-v8/webpack.config.js
  packages/nitro/.gitignore
  packages/nitro/ARCHITECTURE.md
  packages/nitro/LottieNitro.podspec
  packages/nitro/android/CMakeLists.txt
  packages/nitro/android/build.gradle
  packages/nitro/android/gradle.properties
Due: lint, types

feat(nitro): implement the four imperative commands
  packages/nitro/ARCHITECTURE.md
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/src/LottieView/index.tsx
Due: lint

ci(nitro): typecheck, codegen drift guard, SwiftLint and v8 native builds
  .github/workflows/android-v8-build.yml
  .github/workflows/ios-v8-build.yml
  .github/workflows/lint-test.yml
  example-v8/package.json
  package.json
  packages/nitro/ARCHITECTURE.md
  packages/nitro/ios/.swiftlint.yml
  packages/nitro/package.json
Due: none

docs(nitro): add package README, migration guide, and a v8 contributor section
  CONTRIBUTING.md
  MIGRATION-7-TO-8.md
  packages/nitro/README.md
Due: none

chore: fix stale docs, a dead CI cache path, and a committed build artifact
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ios-fabric-build.yml
  README.md
  book.json
  docs/GLOSSARY.md
  example/.gitignore
  example/ReactTestApp-Resources.podspec.json
Due: none

feat(nitro): add the privacy manifest, and record two unnoticed drops
  packages/nitro/ARCHITECTURE.md
  packages/nitro/LottieNitro.podspec
  packages/nitro/ios/PrivacyInfo.xcprivacy
Due: none

ci(nitro): disambiguate the v8 job names and fix its Pods cache ordering
  .github/workflows/android-v8-build.yml
  .github/workflows/ios-v8-build.yml
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/android-v8-build.yml
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ios-v8-build.yml
Due: none

feat(core): add Swift Package Manager support
  .github/workflows/lint-test.yml
  package.json
  packages/core/Package.swift
  packages/core/ios/Fabric/LottieAnimationViewComponentView.mm
  packages/core/ios/LottieReactNative/AnimationViewManagerModule.swift
  packages/core/ios/LottieReactNative/ContainerView.swift
  packages/core/package.json
  packages/core/scripts/check-spm-parity.js
Due: lint, types

feat: v8 props impl (#1458)
  AGENTS.md
  CLAUDE.md
  example-v8/.gitignore
  example-v8/App.tsx
  example-v8/Gemfile
  example-v8/android/gradle.properties
  example-v8/animations/DynamicText.json
  example-v8/animations/LottieLogo1.json
  example-v8/animations/Watermelon.json
  example-v8/animations/animation_lkekfrcl.lottie
  example-v8/ios/Podfile
  example-v8/metro.config.js
  example-v8/tsconfig.json
  example-v8/webpack.config.js
  packages/nitro/.gitignore
  packages/nitro/ARCHITECTURE.md
  packages/nitro/LottieNitro.podspec
  packages/nitro/TODO.md
  packages/nitro/android/CMakeLists.txt
  packages/nitro/android/build.gradle
  packages/nitro/android/gradle.properties
  packages/nitro/android/src/main/cpp/cpp-adapter.cpp
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/LottieNitroPackage.kt
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/nitrogen/generated/android/c++/JLottieColorFilter.hpp
  packages/nitro/nitrogen/generated/android/kotlin/com/margelo/nitro/lottienitro/LottieColorFilter.kt
  packages/nitro/nitrogen/generated/ios/swift/LottieColorFilter.swift
  packages/nitro/nitrogen/generated/shared/c++/LottieColorFilter.hpp
  packages/nitro/src/LottieView.nitro.ts
  packages/nitro/src/LottieView/index.tsx
  packages/nitro/src/LottieView/utils.ts
  packages/nitro/src/views/LottieView.ts
Due: lint, types

feat: implement the imperative commands, add CI, and close out the v8 port (#1459)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/android-v8-build.yml
  .github/workflows/ios-v8-build.yml
  .github/workflows/lint-test.yml
  CONTRIBUTING.md
  MIGRATION-7-TO-8.md
  README.md
  book.json
  docs/GLOSSARY.md
  example-v8/package.json
  example/.gitignore
  example/ReactTestApp-Resources.podspec.json
  package.json
  packages/nitro/ARCHITECTURE.md
  packages/nitro/LottieNitro.podspec
  packages/nitro/README.md
  packages/nitro/android/src/main/java/com/margelo/nitro/lottienitro/HybridLottieView.kt
  packages/nitro/ios/.swiftlint.yml
  packages/nitro/ios/HybridLottieView.swift
  packages/nitro/ios/PrivacyInfo.xcprivacy
  packages/nitro/package.json
  packages/nitro/src/LottieView/index.tsx
Due: lint

feat(core): add Swift Package Manager support (#1464)
  .github/workflows/lint-test.yml
  package.json
  packages/core/Package.swift
  packages/core/ios/Fabric/LottieAnimationViewComponentView.mm
  packages/core/ios/LottieReactNative/AnimationViewManagerModule.swift
  packages/core/ios/LottieReactNative/ContainerView.swift
  packages/core/package.json
  packages/core/scripts/check-spm-parity.js
Due: lint, types

switch to lottie spm
  packages/core/Package.swift
Due: none

fix lottie in the check parity script
  packages/core/scripts/check-spm-parity.js
Due: lint, types

fix: support static animation sources
  example/type-tests/source.tsx
  packages/core/src/types.ts
  packages/nitro/src/types.ts
Due: lint, types

test: remove static source type test
  example/type-tests/source.tsx
Due: lint

switch to lottie spm for our SPM support (#1465)
  packages/core/Package.swift
  packages/core/scripts/check-spm-parity.js
Due: lint, types

fix: support static animation sources (#1466)
  packages/core/src/types.ts
  packages/nitro/src/types.ts
Due: lint, types

v8 main
  example-v8/App.tsx
  example-v8/package.json
  example-v8/webpack.config.js
  example/App.tsx
  example/package.json
  example/webpack.config.js
  package.json
  packages/core/lottie-react-native.podspec
  packages/core/package.json
  packages/nitro/package.json
  packages/nitro/src/views/LottieView.ts
  packages/nitro/src/views/LottieViewConfig.json
  packages/nitro/tsconfig.json
  yarn.lock
Due: lint, types
