Repository lottie-react-native/lottie-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

fix: builder bob not building out of the box
  example/babel.config.js
  example/ios/LottieReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/metro.config.js
  example/react-native.config.js
Due: lint, types

fix: implement a base view on iOS and Android
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  example/src/App.tsx
  ios/LottieReactNative.swift
  nitro.json
  src/LottieReactNative.nitro.ts
  src/index.tsx
Due: lint, types

fix: missing lottie view not being exposed on Android
  android/src/main/java/com/lottiereactnative/LottieReactNativePackage.kt
Due: none

feat: added all the props and methods of Lottie to be compliant with the current implementation
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  ios/LottieReactNative.swift
  src/LottieReactNative.nitro.ts
Due: lint, types

feat: add latest lotties as dependencies for the package
  LottieReactNative.podspec
  android/build.gradle
  ios/PrivacyInfo.xcprivacy
Due: none

feat: implement base lottie functionality on Android for shits and giggles
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  example/src/App.tsx
  example/src/animations/LottieLogo1.json
  ios/LottieReactNative.swift
  src/LottieView/utils.ts
  src/index.tsx
  src/specs/LottieReactNative.nitro.ts
  src/types.ts
Due: lint, types

feat: implement most of Lottie's props on Android
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  ios/LottieReactNative.swift
  src/specs/LottieReactNative.nitro.ts
Due: lint, types

feat: wrap up the rest of the props on Android
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
Due: none

feat: implement command manager on Android
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewCommandManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  example/src/App.tsx
Due: lint

chore: clean up
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewCommandManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
Due: none

fix: rn's weird CSS color now supported in compliance with the old code
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewPropertyManager.kt
  example/src/App.tsx
  package.json
  src/LottieView/utils.ts
Due: lint, types

feat: begin ios work
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewCommandManager.kt
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
Due: none

chore: add todo
  ios/LottieReactNative.swift
Due: none

chore: add docs to methods so it is clear why we need to do it on the main thread but props are safe
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieAnimationViewCommandManager.kt
  ios/LottieReactNative.swift
Due: none

fix: the enum for renderMode and resizeMode
  android/src/main/java/com/margelo/nitro/lottiereactnative/LottieReactNative.kt
  example/src/App.tsx
  ios/LottieReactNative.swift
  src/specs/LottieReactNative.nitro.ts
Due: lint, types

fix: start moving implementation details to property manager
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
Due: none

feat: implement URL and DotLottie loading
  example/src/App.tsx
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
Due: lint

feat: implement resize mode and render mode
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
Due: none

feat: implement progress, speed. ignore imageAssetsFolder, mergepath, safemode and more
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
Due: none

feat: wrap up iOS implementation
  ios/LottieAnimationViewCommandManager.swift
  ios/LottieAnimationViewPropertyManager.swift
  ios/LottieReactNative.swift
  ios/UIColor+Utils.swift
Due: none

feat: fix changing render mode pausing the animation on iOS
  ios/LottieAnimationViewCommandManager.swift
  ios/LottieAnimationViewPropertyManager.swift
Due: none

feat: remove unused self
  ios/LottieReactNative.swift
Due: none

fix: i am an idiot who doesn't read his own code
  ios/LottieAnimationViewPropertyManager.swift
Due: none

chore: add back old animation examples from V7
  example/animations/DynamicText.json
  example/animations/LottieLogo1.json
  example/animations/Watermelon.json
  example/animations/animation_lkekfrcl.lottie
  example/metro.config.js
  example/src/App.tsx
  example/src/animations/LottieLogo1.json
Due: lint, types

chore: lift and shift Lottie Web back into the fold, reintroduce Lottie's API layer back
  example/src/App.tsx
  package.json
  src/LottieView/index.tsx
  src/LottieView/index.web.tsx
  src/index.tsx
Due: lint

fix: bring back the user facing interfaces
  example/src/App.tsx
  src/LottieView/index.tsx
  src/LottieView/utils.ts
Due: lint, types

fix: silence incorrect bug on TS for now
  src/LottieView/index.tsx
Due: lint

chore: add onLayout and onAnimationLoaded examples
  example/src/App.tsx
Due: lint

fix onAnimationFinsish not triggering when source of lottie is from backend
  example/App.tsx
  packages/core/src/LottieView/index.tsx
  packages/core/src/LottieView/utils.ts
Due: lint, types

Update @lottiefiles/dotlottie-react dependencies
  packages/core/package.json
Due: none

Typo corrected
  packages/core/package.json
Due: none

make lottiefiles/dotlottie-react dependency version to *
  packages/core/package.json
Due: none

Update package.json
  packages/core/package.json
Due: none

Atualiza Dependências
  example/package.json
  yarn.lock
Due: none

Atualiza Dependência
  packages/core/package.json
Due: none

Update yarn.lock
  package.json
  yarn.lock
Due: none

Build Error with React Native 0.80 - Kotlin Type Mismatch
  packages/core/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewPropertyManager.kt
Due: none

Fix Build on RN 0.80
  packages/core/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewPropertyManager.kt
Due: none

Using Color.TRANSPARENT instead of 0
  packages/core/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewPropertyManager.kt
Due: none

fix(android): Build Error with React Native 0.80 - Kotlin Type Mismatch (#1351)
  packages/core/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewPropertyManager.kt
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
