Repository lottie-react-native/lottie-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(release): v7.2.3
  packages/core/package.json
Due: none

fix(ios): incorrect animations when switching between raw json and string source in fabric
  packages/core/ios/LottieReactNative/ContainerView.swift
Due: none

fix: fix ios new arch by declaring component for codegen
  packages/core/package.json
Due: none

fix(ci): macos xcode versions
  .github/workflows/ios-fabric-build.yml
Due: none

fix(ci): macos xcode versions for paper
  .github/workflows/ios-paper-build.yml
Due: none

fix: fix ios new arch by declaring component for codegen (#1357)
  packages/core/package.json
Due: none

fix(ios): incorrect animations when switching between raw json and string source in fabric (#1359)
  packages/core/ios/LottieReactNative/ContainerView.swift
Due: none

fix: release-it script
  package.json
  packages/core/package.json
  yarn.lock
Due: none

chore: add auto release workflow
  .github/workflows/release.yml
  .gitignore
  package.json
Due: none

chore: add package manager field
  package.json
Due: none

chore: no git
  .github/workflows/release.yml
Due: none

chore: change to workflow dispatch and remove dry run
  .github/workflows/release.yml
Due: none

chore: use recommended github actions email
  .github/workflows/release.yml
Due: none

chore: set submit to true
  package.json
Due: none

chore: add release workflow (#1360)
  .github/workflows/release.yml
  .gitignore
  package.json
Due: none

chore: add verbose logging
  .github/workflows/release.yml
Due: none

chore: disable conflicting npm plugin
  .github/workflows/release.yml
  package.json
Due: none

chore: release 7.2.4
  CHANGELOG.md
  package.json
  packages/core/package.json
Due: none

chore: move to yarn v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(ci): move to deploy keys for git operations
  .github/workflows/release.yml
Due: none

chore: add provenance to the npm package
  .github/workflows/release.yml
  package.json
  packages/core/package.json
Due: none

chore(ci): update publish command to use 'release' instead of 'publish' to prevent cycle
  package.json
  packages/core/package.json
Due: none

chore: upgrade test app to RN 78
  example/App.tsx
  example/ReactTestApp-Resources.podspec.json
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/metro.config.js
  example/package.json
  yarn.lock
Due: lint, types

chore: new test app ui
  example/App.tsx
Due: lint

feat: add container style property
  example/App.tsx
  packages/core/src/LottieView/index.tsx
Due: lint

fix: remove border radius from lottie
  example/App.tsx
Due: lint

chore: update api.md
  docs/api.md
Due: none

Update stale.yml
  .github/stale.yml
Due: none

chore: increase jvm heap size
  example/android/gradle.properties
Due: none

chore: add tsc command for example project
  .github/workflows/lint-test.yml
  example/package.json
  package.json
Due: none

chore: revert stale bot (#1255)
  .github/stale.yml
Due: none

chore: update @lottiefiles/dotlottie-react dependency to version 0.13.5
  packages/core/package.json
Due: none

fix: use defautl style props for web
  packages/core/src/LottieView/index.web.tsx
  packages/core/src/types.ts
Due: lint, types

feat: add container style property (#1365)
  .github/workflows/lint-test.yml
  docs/api.md
  example/App.tsx
  example/android/gradle.properties
  example/package.json
  package.json
  packages/core/src/LottieView/index.tsx
Due: lint

README: Remove "will be fixed soon"
  README.md
Due: none

README: Remove "will be fixed soon" (#1369)
  README.md
Due: none

BREAKING CHANGE: new container style prop
  packages/core/src/LottieView/index.tsx
Due: lint

BREAKING CHANGE: new container style prop (#1370)
  packages/core/src/LottieView/index.tsx
Due: lint

update render method
  packages/core/src/LottieView/index.tsx
Due: lint

fix: bring backward compatibility for containerStyle prop (#1372)
  packages/core/src/LottieView/index.tsx
Due: lint
